body{
    background-image: linear-gradient(90deg, white, #2eacd4);
    font-family: 'Times New Roman', Times, serif;
}
#paraFunc{
    color: rgb(0, 0, 0);
}
#paraFunc2{
    color: rgb(16, 178, 184);
}

#countdownStatus{
    color: red;
}

.button{
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border-color: skyblue;
}
#data{
    background-image: linear-gradient(180deg, white, lightblue);
}

.lgButton{
    width: 175px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border-color: skyblue;
}